/*!FROONT Project element styles */

body {
  background: rgba(0, 0, 0, 0)
}

h1 {
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h2 {
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h3 {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.3;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h5 {
  font-weight: 600;
  font-size: .6875rem;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h6 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

blockquote {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.7;
  letter-spacing: -0.03rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem
}

a {
  color: #3BA3F8;
  text-decoration: none;
}

a:hover {
  opacity: .8
}

.fr_caption_left_grey {
  font-family: europa;
  font-weight: 300;
  font-size: .85em;
  line-height: 1.3em;
  text-align: left;
  letter-spacing: .05em;
  color: #999
}

.fr_h4_black {
  font-family: europa;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .3em;
  color: white
}

.fr_navigation_link_2 {
  font-family: europa;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.35em;
  text-align: center;
  letter-spacing: .01em;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #333
}

.fr_paragraph_right_black {
  font-family: europa;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: right;
  letter-spacing: .01em;
  color: white
}

.fr_h1_right_black {
  font-family: europa;
  font-weight: 900;
  font-size: 3.55em;
  line-height: 1.0em;
  text-align: right;
  letter-spacing: 0;
  color: white
}

.fr_navigation_link_2 {
  font-family: europa;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.35;
  text-align: center;
  letter-spacing: .1em;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: white
}

.fr_h4_black {
  font-family: europa;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .3em;
  color: black
}

.fr_h5_black {
  font-family: europa;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .2em;
  color: black
}

.fr_h1_main_center_black {
  font-family: europa;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .3;
  color: #292c31
}

.fr_paragraph_left_grey {
  font-family: europa;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: left;
  letter-spacing: .01em;
  color: #999
}

.fr_h2_left_black_bold {
  font-family: europa;
  font-weight: 900;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: left;
  letter-spacing: .05em;
  color: black
}

.fr_paragraph_left_black {
  font-family: europa;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: left;
  letter-spacing: .01em;
  color: black
}

.fr_h1_main_center_black-1 {
  font-family: europa;
  font-weight: 900;
  font-size: 3.55em;
  text-align: center;
  letter-spacing: 0;
  color: #292c31
}

.fr_paragraph_center_black {
  font-family: europa;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4;
  text-align: center;
  letter-spacing: .01em;
  color: white
}

.fr_caption_left_grey {
  font-family: europa;
  font-weight: 300;
  font-size: .85em;
  line-height: 1.3em;
  text-align: left;
  letter-spacing: .05em;
  color: #999
}

.fr_resume_subheader {
  font-family: europa;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
  color: #333
}

.fr_paragraph_center_grey {
  font-family: europa;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: .01em;
  color: white
}

.project_text_paragraph {
  font-family: europa;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: left;
  letter-spacing: .01em;
  color: #000
}

.fr_h4_white {
  font-family: europa;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .3em;
  color: white
}

.fr_paragraph_left_400 {
  font-family: europa;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: left;
  letter-spacing: .01em;
  color: black
}

.fr_paragraph_left_400.fr-text p {
  font-weight: 300
}

.fr_gallery_3 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white
}

.fr_gry3_3_column_images {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry3_3_column_images.fr-grid>.fr-widget {
  float: left
}

.fr_gry3_3_column_images>.fr-widget:nth-child(3n+1) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.3333333333%;
  clear: left;
  max-width: inherit
}

.fr_gry3_3_column_images>.fr-widget:nth-child(3n+2) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.3333333333%;
  clear: none;
  max-width: inherit
}

.fr_gry3_3_column_images>.fr-widget:nth-child(3n+3) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.3333333333%;
  clear: none;
  max-width: inherit
}

.fr_gry3_image_three {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fr_gry3_image_title_three {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1em
}

.fr_gry3_img_three {
  float: none;
  display: block;
  width: 100%
}

.fr_gry3_image_two {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fr_gry3_image_title_two {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1em
}

.fr_gry3_img_two {
  float: none;
  display: block;
  width: 100%
}

.fr_gry3_image_one {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fr_gry3_image_title_one {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1em
}

.fr_gry3_img_one {
  float: none;
  display: block;
  width: 100%
}

.fr_gry3_main_title {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_navigation_white {
  display: block;
  width: 100%;
  background-color: white;
  z-index: 1000
}

.fr_items_2 {
  float: none;
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 10px;
  background-color: white;
  overflow: hidden
}

.fr_link_4 {
  float: right;
  display: inline-block
}

.fr_link_5 {
  float: right;
  display: inline-block
}

.fr_link_6 {
  float: right;
  display: inline-block
}

.fr_mobile_toggle_2 {
  display: none;
  width: 22px;
  margin-top: 20px;
  margin-bottom: 13px;
  margin-left: 20px;
  fill: #333
}

.fr_header_4 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: white;
  background-image: linear-gradient(rgba(241, 98, 94, 0.45), rgba(241, 98, 94, 0.45)), url(../images/thumbnail/manarola5.jpg_960x720.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  min-height: 12em
}

.fr_hd4_container {
  float: none;
  display: block;
  width: 90%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 2;
  min-height: 14.2568359375em;
  max-width: 1200px
}

.fr_hd4_subtext {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  max-width: 500px
}

.fr_hd4_main_title {
  float: none;
  display: block;
  width: 90%;
  margin-left: auto;
  max-width: 500px
}

.fr_navigation_white {
  width: 100%;
  background-color: #ffccd9;
  position: fixed;
  z-index: 1000;
  min-height: 70px;
  max-height: 70px
}

.fr_items_2 {
  float: right;
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 10px;
  background-color: #ffccd9;
  z-index: 9999;
  max-width: 100%;
  overflow: hidden
}

.fr_link_4 {
  display: inline-block
}

.fr_link_5 {
  display: inline-block
}

.fr_link_6 {
  display: inline-block
}

.fr_mobile_toggle_2 {
  display: none;
  width: 22px;
  margin-top: 20px;
  margin-bottom: 13px;
  margin-left: 20px;
  fill: #333
}

.fr_portfolio {
  display: block;
  margin-top: 4.37rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
  min-height: 27.69rem
}

.fr_portfolio_title {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  max-width: 600px
}

.project_title {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
/*  max-width: 600px; */
  text-transform: uppercase;
}

.fr_resume {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white
}

.fr_resume_content {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  max-width: 1200px
}

.fr_education {
  float: none;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto
}

.fr_education.fr-grid>.fr-widget {
  float: left
}

.fr_education>.fr-widget:nth-child(2n+1) {
  margin-top: .6em;
  margin-right: 7%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 56%;
  clear: left;
  max-width: inherit
}

.fr_education>.fr-widget:nth-child(2n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 7%;
  width: 30%;
  clear: none;
  max-width: inherit
}

.fr_edu_col2 {
  float: none;
  display: block
}

.fr_2012_2016 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto
}

.fr_edu_col1 {
  float: none;
  display: block
}

.fr_ucsd {
  float: none;
  display: block;
  margin-top: 30px
}

.fr_line1 {
  float: none;
  display: block;
  width: 70px;
  margin-bottom: 30px;
  background-color: #ffccd9;
  min-height: 5px
}

.fr_resume_title {
  float: none;
  display: block;
  margin-bottom: 20px
}

.fr_experience1 {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto
}

.fr_experience1.fr-grid>.fr-widget {
  float: left
}

.fr_experience1>.fr-widget:nth-child(2n+1) {
  margin-top: .6em;
  margin-right: 7%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 56%;
  clear: left;
  max-width: inherit
}

.fr_experience1>.fr-widget:nth-child(2n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 7%;
  width: 30%;
  clear: none;
  max-width: inherit
}

.fr_exp1_col2 {
  float: none;
  display: block
}

.fr_exp1_skills {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto
}

.fr_exp1_duration {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto
}

.fr_exp1_col1 {
  float: none;
  display: block
}

.fr_exp1_description {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px
}

.fr_line3 {
  float: none;
  display: block;
  width: 70px;
  margin-bottom: 30px;
  background-color: #ffccd9;
  min-height: 5px
}

.fr_footer {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #2196f3
}

.fr_email_button {
  float: none;
  display: block;
  width: 100%;
  font-family: europa;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  letter-spacing: .05em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: white;
  border: 1px solid white;
  min-height: 4rem;
  max-width: 224px;
  border-radius: 4px
}

.project_button {
  float: none;
  display: block;
  width: 100%;
  font-family: europa;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  letter-spacing: .05em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #3BA3F8;
  border: 1px solid #3BA3F8;
  min-height: 4rem;
  max-width: 262px;
  border-radius: 4px;
  margin-top: 50px;
}

.fr_contact_subtext {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 960px
}

.fr_portfolio_work {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  max-width: 1200px
}

.fr_portfolio_work.fr-grid>.fr-widget {
  float: left
}

.fr_portfolio_work>.fr-widget:nth-child(3n+1) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.3333333333%;
  clear: left;
  max-width: inherit
}

.fr_portfolio_work>.fr-widget:nth-child(3n+2) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.3333333333%;
  clear: none;
  max-width: inherit
}

.fr_portfolio_work>.fr-widget:nth-child(3n+3) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.3333333333%;
  clear: none;
  max-width: inherit
}

.fr_leicester_work {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fr_leicester_img {
  float: none;
  display: block;
  width: 100%
}

.fr_leicester_img_title {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1em
}

.fr_mwch_work {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fr_mwch_img {
  float: none;
  display: block;
  width: 100%
}

.fr_mwch_img_title {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1em
}

.fr_podcats_work {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fr_podcats_img_title {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1em
}

.fr_podcats_img {
  float: none;
  display: block;
  width: 100%
}

.fr_major {
  display: block;
  width: 90%;
  text-align: left;
  max-width: 600px
}

.fr_cogsci_hci {
  float: none;
  display: block;
  margin-bottom: .2em;
  min-height: 1.35em
}

.fr_la_jolla {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 1.35em;
  max-width: 600px
}

.fr_exp1_title {
  float: none;
  display: block;
  margin-top: 30px
}

.fr_exp1_role {
  display: block;
  width: 90%;
  min-height: 1.35em;
  max-width: 600px
}

.fr_exp1_location {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 1.35em;
  max-width: 600px
}

.fr_experience2 {
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: white
}

.fr_experience2.fr-grid>.fr-widget {
  float: left
}

.fr_experience2>.fr-widget:nth-child(2n+1) {
  margin-top: .6em;
  margin-right: 7%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 56%;
  clear: left;
  max-width: inherit
}

.fr_experience2>.fr-widget:nth-child(2n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 7%;
  width: 30%;
  clear: none;
  max-width: inherit
}

.fr_exp2_col2 {
  float: none;
  display: block
}

.fr_exp2_skills {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto
}

.fr_exp2_duration {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto
}

.fr_exp2_col1 {
  float: none;
  display: block
}

.fr_exp2_description {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px
}

.fr_exp2_title {
  float: none;
  display: block;
  margin-top: 30px
}

.fr_exp2_role {
  display: block;
  width: 90%;
  min-height: 1.35em;
  max-width: 600px
}

.fr_exp2_location {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 1.35em;
  max-width: 600px
}

.fr_line4 {
  float: none;
  display: block;
  width: 70px;
  background-color: #ffccd9;
  min-height: 5px
}

.fr_line2 {
  float: none;
  display: block;
  width: 70px;
  background-color: #ffccd9;
  min-height: 5px
}

.fr_experience3 {
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: white
}

.fr_experience3.fr-grid>.fr-widget {
  float: left
}

.fr_experience3>.fr-widget:nth-child(2n+1) {
  margin-top: .6em;
  margin-right: 7%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 56%;
  clear: left;
  max-width: inherit
}

.fr_experience3>.fr-widget:nth-child(2n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 7%;
  width: 30%;
  clear: none;
  max-width: inherit
}

.fr_exp3_col2 {
  float: none;
  display: block
}

.fr_exp3_skills {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto
}

.fr_exp3_location {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 1.35em;
  max-width: 600px
}

.fr_exp3_duration {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto
}

.fr_exp3_col1 {
  float: none;
  display: block
}

.fr_exp3_description {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px
}

.fr_exp3_role {
  display: block;
  width: 90%;
  min-height: 1.35em;
  max-width: 600px
}

.fr_exp3_title {
  float: none;
  display: block;
  margin-top: 30px
}

.fr_about {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #42a5f5
}

.fr_about_blurb {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.project_text {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 850px;
  font-size: 1.125em;
}

.fr_about_me_title {
  float: none;
  display: block;
  width: 90%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 600px
}

.fr_me {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/thumbnail/me.png_400x400.png);
  background-position: center center;
  background-size: cover;
  min-height: 250px;
  max-width: 250px;
  border-radius: 50%
}

.fr_relevant_coursework {
  display: block;
  width: 90%;
  padding-top: 20px;
  min-height: 1.35em;
  max-width: 600px
}

.fr_edu_skills {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto
}

.fr_coursework {
  float: none;
  display: block;
  width: 100%;
  margin-top: 10px;
  z-index: 222
}

.fr_resume_pdf_button {
  float: none;
  display: block;
  width: 100%;
  font-family: europa;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  letter-spacing: .05em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #42a5f5;
  border: 1px solid #42a5f5;
  min-height: 4rem;
  max-width: 224px;
  border-radius: 4px
}

.fr_svg {
  float: none;
  display: block;
  width: 732px;
  margin-top: 9.375rem;
  margin-right: auto;
  margin-left: auto
}

.fr_introduction_header {
  float: none;
  display: block;
  top: 70px;
  width: 100%;
  margin-top: 0rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #2196f3;
  position: relative;
  min-height: 625px
}

.project_content {
  float: none;
  display: block;
  top: 70px;
  width: 100%;
  margin-top: 0rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #fff;
  position: relative;
}

.project_subcontent {
  float: none;
  display: block;
  top: 70px;
  width: 100%;
  margin-top: 0rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #fff;
  position: relative;
}

.fr_svg_2 {
  float: none;
  display: block;
  width: 917px;
  margin-top: 0rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  fill: #000
}

.fr_logo {
  float: left;
  display: inline-block;
  width: 50px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: 15px;
  position: fixed;
  z-index: 9999
}

.fr_mobile_toggle_2 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_mobile_toggle_2 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_svg .fr-svg-inner {
  padding-bottom: 43.47826086956522%;
  position: relative
}

.fr_svg_2 .fr-svg-inner {
  padding-bottom: 68.14092953523239%;
  position: relative
}

.fr_logo .fr-svg-inner {
  padding-bottom: 58.402662229617306%;
  position: relative
}

@media screen and (max-width:1024px) {
  .fr_svg_2 {
    float: none;
    display: block;
    margin-top: 0rem;
    margin-right: auto;
    margin-left: auto
  }
}

@media screen and (max-width:768px) {
  .fr_navigation_link_2 {
    text-align: left
  }
  .fr_navigation_link_2 {
    text-align: right
  }
  .fr_gry3_3_column_images.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry3_3_column_images>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_navigation_white {
    padding-top: 0;
    padding-bottom: 7px
  }
  .fr_items_2 {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-height: 0;
    overflow: hidden
  }
  .fr_link_4 {
    display: block
  }
  .fr_link_5 {
    display: block
  }
  .fr_link_6 {
    display: block
  }
  .fr_mobile_toggle_2 {
    display: block
  }
  .fr_navigation_white {
    padding-top: 0;
    padding-bottom: 7px
  }
  .fr_mobile_toggle_2 {
    float: right;
    display: block;
    fill: white
  }
  .fr_education.fr-grid>.fr-widget {
    float: left
  }
  .fr_education>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_experience1.fr-grid>.fr-widget {
    float: left
  }
  .fr_experience1>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_portfolio_work.fr-grid>.fr-widget {
    float: left
  }
  .fr_portfolio_work>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_experience2.fr-grid>.fr-widget {
    float: left
  }
  .fr_experience2>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_line4 {
    margin-top: 30px
  }
  .fr_line2 {
    margin-top: 30px
  }
  .fr_experience3.fr-grid>.fr-widget {
    float: left
  }
  .fr_experience3>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_introduction_header {
    min-height: 500px
  }
  .fr_svg_2 {
    float: none;
    display: block;
    width: 100%;
    margin-top: 0rem;
    margin-right: auto;
    margin-left: auto
  }
}

@media screen and (max-width:480px) {
  .fr_h4_black {
    font-size: 1.3em
  }
  .fr_h5_black {
    font-size: 1.2em
  }
  .fr_h1_right_black {
    font-size: 1.7em
  }
  .fr_h4_black {
    font-size: 1.3em
  }
  .fr_h1_main_center_black {
    font-size: 2.5em
  }
  .fr_h1_main_center_black-1 {
    font-size: 1.3em
  }
  .fr_h4_white {
    font-size: 1.3em
  }
  .fr_header_4 {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_hd4_main_title {
    margin-top: 0
  }
  .fr_mobile_toggle_2 {
    float: right;
    fill: white
  }
  .fr_education.fr-grid>.fr-widget {
    float: left
  }
  .fr_education>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_experience1.fr-grid>.fr-widget {
    float: left
  }
  .fr_experience1>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_experience2.fr-grid>.fr-widget {
    float: left
  }
  .fr_experience2>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_experience3.fr-grid>.fr-widget {
    float: left
  }
  .fr_experience3>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_introduction_header {
    min-height: 500px
  }
  .fr_svg_2 {
    float: none;
    display: block;
    width: 100%;
    margin-top: 5.5625rem;
    margin-right: auto;
    margin-left: auto
  }
}

@media screen and (max-width:320px) {
  .fr_navigation_link_2 {
    font-size: .7rem
  }
  .fr_paragraph_center_grey {
    font-size: 1.1rem
  }
  .project_text_paragraph {
    font-size: 1.1rem
  }
  .fr_mobile_toggle_2 {
    float: right
  }
  .fr_navigation_white {
    float: none;
    display: block;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 204, 217, 0.99);
    right: 0;
    min-height: 70px
  }
  .fr_link_4 {
    margin-top: 0rem
  }
  .fr_mobile_toggle_2 {
    float: right;
    fill: white
  }
  .fr_education.fr-grid>.fr-widget {
    float: left
  }
  .fr_education>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_experience1.fr-grid>.fr-widget {
    float: left
  }
  .fr_experience1>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_experience2.fr-grid>.fr-widget {
    float: left
  }
  .fr_experience2>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_experience3.fr-grid>.fr-widget {
    float: left
  }
  .fr_experience3>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_introduction_header {
    min-height: 370px
  }
  .fr_svg_2 {
    float: none;
    display: block;
    width: 100%;
    height: 200px;
    margin-top: 5.3125rem;
    margin-right: auto;
    margin-left: auto
  }
}
