<head>
   <meta charset="UTF-8">
   <meta name="description" content="Christine Do's Product Design Portfolio">
   <meta name="keywords" content="Christine Do, UX, UI, product, design, portfolio">
   <meta name="author" content="Christine Do">

   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Christine Do, Designer</title>

   <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

   <link href="https://fonts.googleapis.com/css?family=Lora|Nunito:300,400,600,700" rel="stylesheet">
   <!-- FOR BUILD -->
   <link rel="stylesheet" href="./public/css/style.css">
   <link rel="stylesheet" href="./public/css/bootstrap.css">

   <!--favicon-->
   <link rel="icon" type="image/png" href="./public/img/favicon.png" type='image/x-icon'/>
</head>
