<head>
   <meta charset="UTF-8">
   <meta name="description" content="Christine Do's UX/UI design portfolio">
   <meta name="keywords" content="Christine Do, UX, UI, design, portfolio">
   <meta name="author" content="Christine Do">

   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Christine Do, UX/UI Designer</title>

   <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
   <script src="https://use.typekit.net/zeu1jlu.js"></script>
   <script>try{Typekit.load({ async: true });}catch(e){}</script>

   <link rel="stylesheet" href="./public/css/style.css">
   <link rel="stylesheet" href="./public/css/bootstrap.css">

   <!--favicon-->
   <link rel="icon" type="image/png" href="./public/img/favicon.png" type='image/x-icon'/>
</head>
