<nav>
   <div class="navbar">
    {{#if active.notHome}}
    <div id="home-link">
        <a href="/">← Back Home</a>
    </div>
    {{/if}}

    <div id="nav-links">
        <a href="/" class="{{#if active.portfolio}}current{{/if}}">Work</a>
        <a href="/about" class="{{#if active.about}}current{{/if}}">About</a>
        <!-- <a href="https://www.dropbox.com/s/ky9penwyea3d4bj/Christine_Do_Resume.pdf?dl=0" target="_blank">Résumé</a> -->
    </div>
    <div id="hamburger-wrapper">
      <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
</div>
</nav>
