<nav>
   <div class="navbar">
    <div id="logo">
        <a href="/"><img src="./public/img/logo.png"/></a>
    </div>

    <div id="nav-links">
        <a href="/" class="{{#if active.portfolio}}current{{/if}}">Portfolio</a>
        <a href="about.html" class="{{#if active.about}}current{{/if}}">About Me</a>
        <a href="https://www.dropbox.com/s/ky9penwyea3d4bj/Christine_Do_Resume.pdf?dl=0" target="_blank">Résumé</a>
    </div>
    <div id="hamburger-wrapper">
      <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
</div>
</nav>
