<!DOCTYPE html>
<html>
{{> metadata}}

<body class="body-content">
    {{> dropdown}}
    <div class="container container-content">
        {{> navbar}}

        <div class="row">
            <div class="col-xs-3 col-md-1"></div>
            <div class="col-xs-3 col-md-2"><img id="photo" class="about center-block" src="{{img}}" /></div>
            <div class="col-xs-12 col-md-8">
                <h3 class="about" id="about-greeting">{{greeting}}</h3>
                {{#each content}}
                <p class="about">
                    {{{this}}}
                </p>
                {{/each}}
            </div>
        </div>
    </div>
    {{> scripts}}
</body>
{{> footer}}
</html>
