<!DOCTYPE html>
<html>
{{> metadata}}

<body class="body-content">
    {{> dropdown}}
    <div class="container container-content">
        {{> navbar}}

        {{#each greeting}}
          <h2 id="{{id}}" class="greeting">{{line}}</h2>
        {{/each}}
        <!-- <span class="text-regular">{{subtext}}</span></h2> -->
        <div id="project-row" class="row">
            {{#each projects}}
            <div class="col-md-4">
                <a href="{{link}}">
                    <div class="project {{id}}">
                        <img src="{{cover-image}}"/>
                        <div class="project-info">
                           <h3 class="text-white">{{name}}</h3>
                           <h4 class="text-light text-white">{{type}}</h4>
                        </div>
                    </div>
                    </a>
            </div>
            {{/each}}
        </div>
    </div>
    {{> scripts}}
</body>
{{> footer}}

</html>
