<!DOCTYPE html>
<html>

<head>
    {{> metadata}}
</head>

<body class="body-content">
    {{> dropdown}}
    <div class="container container-content">
        {{> navbar}}
        <div class="case-study">
            <div class="case-study-info col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
                <h3 class="text-center">{{name}}</h3>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
                        <div class="role text-center">
                            <h4 class="header-text-black">Role</h4>
                            <p>
                                {{role}}
                            </p>
                        </div>
                        <div class="type text-center">
                            <h4 class="header-text-black">Type</h4> {{#each type}}
                            <p>
                                {{this}}
                            </p>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <p>
                    {{{description}}}
                </p>
            </div>

            <div class="case-study-process">
                {{#each body}}
                <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
                    <h4 class="text-center">{{header}}</h4> {{#each content}}
                    <p>
                        {{{this}}}
                    </p>
                    {{/each}} {{#if link}}
                    <div class="text-center">
                        <a href="{{link.path}}">
                            <button type="button" name="button" class="btn-custom">View {{link.asset}}</button>
                        </a>
                    </div>
                    {{/if}}
                </div>
                {{#if image}}
                <img class="project-image" src="{{image.img}}" /> {{/if}} {{/each}}
                <a href="index.html" class="portfolio-link">Return to Portfolio</a>
            </div>
        </div>
    </div>
    {{> scripts}}
</body>
{{> footer}}

</html>
