<!DOCTYPE html>
<html>

<head>
    {{> metadata}}
</head>

<body class="body-content">
    {{> dropdown}}
    <div class="container container-content">
        {{> navbar}}

        <div class="case-study-info col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
            <h2 class="text-center">{{name}}</h2>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
                    <div class="role text-center">
                        <h4 class="header-text-black">Role</h4> {{#each role}}
                        <p>
                            {{this}}
                        </p>
                        {{/each}}
                    </div>
                    <div class="type text-center">
                        <h4 class="header-text-black">Type</h4>
                        <p>
                            {{type}}
                        </p>
                    </div>
                </div>
            </div>
            <p>
                {{description}}
            </p>
        </div>

        <div class="case-study-process">
            {{#each body}}
            <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
                <h4 class="text-center">{{header}}</h4> {{#each content}}
                <p>
                    {{{this}}}
                </p>
                {{/each}} {{#if link}}
                <div class="text-center">
                    <a href="{{link.path}}">
                        <button type="button" name="button" class="btn-custom">View {{link.asset}}</button>
                    </a>
                </div>
                {{/if}}
            </div>
            <div class="col-lg-12">
                {{#each image}}
                <h4 class="text-center text-light">{{title}}</h4>
                <img class="project-image" src="{{path}}" /> {{/each}} {{#if image-carousel}}
                <div id="{{image-carousel.id}}" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators">
                        <li data-target="#{{image-carousel.id}}" data-slide-to="0" class="active"></li>
                        <li data-target="#{{image-carousel.id}}" data-slide-to="1"></li>
                        <li data-target="#{{image-carousel.id}}" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        {{#each image-carousel.img}}
                        <div class="item {{#if active}} active {{/if}}">
                            <img src="{{path}}" alt="text" class="img-responsive">
                            <div class="carousel-caption">
                                <h3>{{title}}</h3>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <a class="left carousel-control" href="#{{image-carousel.id}}" role="button" data-slide="prev">
                    </a>
                    <a class="right carousel-control" href="#{{image-carousel.id}}" role="button" data-slide="next">
                    </a>
                </div>
                {{/if}}
            </div>
            {{/each}}
            <a href="index.html" class="portfolio-link">Return to Portfolio</a>
        </div>
    </div>
    </div>
    {{> scripts}}
</body>
{{> footer}}

</html>
