#project1 {
	width: 100%;
	min-width: 1000px;
	background-color: $red;
	display: block;
}

.project-text {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.project-text p {
	color: #fff;
	font-family: $project-font;
	font-weight: 400;
	font-size: 1.5em;
	line-height: 2.8em;
	display: block;
}