%project {
	width: 100%;
	margin: 0;
	padding: 0;
}

#project1 {
	@extend %project;
	background-color: $red;
//	display: block;
}

#project2 {
	@extend %project;
	background-color: $blue;
}

#project3 {
	@extend %project;
	background-color: $green;
}

.project-text {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding: 30px 0;
	h1 {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 6em;
		text-align: left;
		float: left;
	}
	p {
		color: #fff;
		font-family: $project-font;
		font-weight: 400;
		font-size: 1.5em;
		line-height: 2.8em;
		text-align: left;
		clear: both;
	}
	button {
		background-color: transparent;
		border: 1px solid $blue-black;
		font-weight: 300;
		font-family: $main-fonts;
		text-transform: uppercase;
		font-size: 1.5em;
		float: right;
	}
}