#portfolio-content {
	text-align: center;
  img {
//    display: inline-block;
    width: 310px;
    height: auto;
  }
}

.project {
	display: inline-block;
	width: 310px;
	height: 207px;
	margin: 0 0.5em 0 0;
	position: relative;
}

.overlay {  
    background: $blue-black-rgba;
    text-align: center;
    opacity: 0;    
    width: 100%;
    height: 100%; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.project:hover {
	color: $red;
}

.project:hover .overlay {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

span {
	text-align: center;
	position: relative;
}

span.expand {
	display: inline-block;
	//position: absolute;
	margin: 60px 0 0 0;
	z-index: 100;
	width: 60px;
	height: 60px;
	border: solid 1px #fff;
	text-align: center;
	color: #fff;
	line-height: 60px;
	font-weight: 200;
	font-size: 2.5em;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	text-decoration: none;
}

p.tagline {
	text-transform: uppercase;
	color: #fff;
	font-size: 1.5em;
	font-weight: 600;
}