nav {
  text-align: center;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 600; }
  nav ul {
    margin: 0;
    padding: 30px 0 30px 0;
    list-style: none; }
  nav li {
    display: inline-block;
    padding: 0 20px; }
  nav a {
    color: #4DD0E1;
    display: block;
    text-decoration: none;
    border-bottom: 3px solid #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  nav a:hover {
    color: #EF5350;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.main-nav {
  position: relative;
  background: #2A2C39;
  height: 70px;
  z-index: 150;
  margin-bottom: -70px;
  width: 100%; }

.fixed {
  position: fixed;
  top: 0; }

footer {
  clear: both;
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #2A2C39; }

#footer-text {
  color: #36CDA4;
  text-align: center;
  font-weight: 600;
  font-size: 0.875em;
  padding-top: 30px; }

footer p a:hover {
  color: #fff; }

#portfolio {
  padding: 2.5em 0 0 0; }

#portfolio-content {
  text-align: center; }
  #portfolio-content img {
    width: 310px;
    height: auto; }

.project {
  display: inline-block;
  width: 310px;
  height: 207px;
  margin: 0 0.5em 0 0;
  position: relative;
  padding: 0 0 0 0; }

.overlay {
  background: rgba(44, 42, 57, 0.6);
  text-align: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer; }

.project:hover {
  color: #EF5350; }

.project:hover .overlay {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

span {
  text-align: center;
  position: relative; }

span.expand {
  display: inline-block;
  margin: 75px 0 0 0;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 1px #fff;
  text-align: center;
  color: #fff;
  line-height: 57px;
  font-weight: 200;
  font-size: 2.5em;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  text-decoration: none; }

p.tagline {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.3em;
  font-weight: 600; }

#about {
  padding: 2.5em 0 0 0; }

#me {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px; }
  #me img {
    width: 200px;
    height: auto; }

#about-text {
  overflow: hidden;
  /* keeps the text from wrapping under the image */ }
  #about-text p {
    line-height: 1.8em;
    margin-top: 0; }
  #about-text ul {
    list-style-type: circle; }
    #about-text ul li {
      line-height: 1.8em; }
  #about-text ol li {
    line-height: 1.8em; }
  #about-text ol a {
    text-decoration: none;
    font-weight: 400;
    color: #4DD0E1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  #about-text ol a:hover {
    color: #2A2C39;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

#project1, #project2, #project3 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  display: none;
  z-index: 99999; }

#project1 {
  background-color: #36CDA4; }

#project2 {
  background-color: #EF5350; }

#project3 {
  background-color: #4DD0E1; }

#x1, #x2, #x3 {
  float: right;
  cursor: pointer;
  display: inline-block;
  padding: 20px 20px 0 0; }
  #x1 img, #x2 img, #x3 img {
    width: 50px;
    height: auto; }

/*.website-link {
	margin-right: 20px;
	text-align: left;
}*/
a > button {
  color: #fff;
  border-color: #fff; }

.project-text h1, .project-text h2, .project-text h3, .project-text h4, .project-text h5 {
  text-transform: uppercase;
  text-align: left;
  color: #fff; }

.project-text {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 2em 0.5em;
  text-align: center; }
  .project-text h1 {
    font-weight: 900;
    font-size: 7em;
    float: left;
    margin-bottom: 10px; }
  .project-text h2 {
    font-weight: 700;
    font-size: 5em;
    margin-bottom: 0;
    clear: both; }
  .project-text h3 {
    font-weight: 700;
    font-size: 3.5em;
    margin-bottom: 0;
    /*for h5 taglines*/ }
  .project-text h4 {
    font-weight: 300;
    font-size: 1.875em;
    float: left;
    letter-spacing: 5px;
    margin-top: 0;
    padding-bottom: 50px; }
  .project-text h5 {
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-top: 0; }
  .project-text p {
    color: #fff;
    font-family: "Merriweather", georgia, serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 2.3em;
    text-align: left;
    clear: both; }
    .project-text p a {
      color: #2A2C39;
      text-decoration: none;
      border-bottom: 4px solid transparent;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .project-text p a:hover {
      border-bottom-color: #fff;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .project-text p span {
      font-weight: 900;
      font-style: italic; }
  .project-text button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 300;
    font-family: "brandon-grotesque", helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    cursor: pointer;
    padding: 15px 20px;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .project-text button:hover {
    color: #2A2C39;
    border-color: #2A2C39;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.logistics ul {
  list-style: none;
  padding-left: 0;
  color: #fff;
  font-family: "Merriweather", georgia, serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 2em;
  text-align: left;
  clear: both; }
.logistics li {
  font-style: italic; }
  .logistics li strong {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "brandon-grotesque", helvetica, sans-serif;
    font-style: normal; }
  .logistics li a {
    color: #2A2C39;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .logistics li a:hover {
    border-bottom-color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.projectButtons {
  padding: 30px 0 50px 0; }

.orderedList {
  color: #fff;
  font-family: "Merriweather", georgia, serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 2em;
  text-align: left;
  clear: both; }

/*PERSONAS*/
.persona {
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px; }
  .persona img {
    width: 200px;
    height: auto; }

.persona-text {
  overflow: hidden; }
  .persona-text ul {
    padding-left: 0;
    color: #fff;
    font-family: "brandon-grotesque", helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.7em;
    text-align: left;
    clear: both;
    margin-top: 0; }
  .persona-text li {
    font-style: normal; }
    .persona-text li strong {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: "brandon-grotesque", helvetica, sans-serif;
      font-style: normal; }

#persona1, #persona3 {
  float: right;
  clear: left; }

#persona2 {
  float: left;
  clear: right; }

.mockups img {
  width: 90%;
  height: auto;
  display: inline-block; }

#resume {
  clear: both; }

* {
  box-sizing: border-box; }

html, body {
  font-size: 100%;
  background-color: #fffffc; }

body {
  font-family: "brandon-grotesque", helvetica, sans-serif;
  background-color: #fffffc;
  color: #3d3d3d;
  margin: 0; }

.main-container {
  width: 100%;
  text-align: center; }

.content {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  text-align: left;
  position: relative;
  padding: 4em 0.5em 0 0.5em; }

h1 {
  font-weight: 300;
  font-size: 3em;
  text-transform: lowercase;
  margin: 0.2em 0 0.2em 0;
  color: #fff; }

h2 {
  font-weight: 400;
  font-size: 2em;
  color: #36CDA4;
  text-transform: lowercase; }

p {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3em; }

.banner {
  width: 100%;
  max-height: 500px;
  background-color: #2A2C39;
  display: inline-block; }

.banner-text {
  padding: 50px 0 50px 0;
  text-align: center; }

.popoutText {
  color: #36CDA4;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600; }

p a {
  text-decoration: none;
  font-weight: 400;
  color: #4DD0E1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
p a:hover {
  color: #EF5350;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

:focus {
  outline-color: transparent;
  outline-style: none; }

/******* NEW TEMP DESIGN *******/
#name {
  font-family: "brandon-grotesque";
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  text-transform: lowercase;
  margin-top: 80px; }

/*# sourceMappingURL=style.css.map */
