/* ------ General ------ */
body{
    background-color: #FFF;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

#container{
    width: 100%;
    margin: 0px;
}

h3{
    font-size: 32px;
    color: #F3B860;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: #DF6948
}


/* ------- Header ------- */

#header{
    width: inherit;
    background-color: #DF6948;
    border-bottom: 10px solid grey;
    padding: 20px 0;
}

h1{
    font-size: 36px;
    color: #FFF;
    margin-left: 60px;
    padding-top: 3em;
    margin-top: 0px;
    margin-bottom: 0;
}

h2{
    font-size: 28px;
    color: #FFCCBC;
    margin-left: 60px;
    margin-top: 0;
}

/* ------ Navigation ------ */

nav{
    margin-left: 2em;
    margin-top: 40px;
    float: left;
}

.navWords{
    list-style: none;
    text-decoration: none;
    line-height: 2;
}

a.navWords:link{
    color: #A6A5A5;
}

a.navWords:visited{
    color: #A6A5A5;
}

a.navWords:hover{
    color: #DF6948;
   /* border-left: 3px solid #F3B860;*/
    padding-left: 5px;
}

ul, li{
    list-style: none;
}

#nav-sticky-wrapper {
    width: 350px;
    max-width: 350px;
}


/* ------ Content ------ */

#content{
    width: 100%;
    max-width: 800px;
    color: #221F20;
/*    letter-spacing: 1px;*/
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 50px;
    padding-left: 150px;
/*    float: right;
    position: relative;*/
}

#logoContainer{
    text-align: center;
}

#logoContainer img {
    width: 150px;
    height: auto;
    display: inline-block;
}

#logo{
    height: 15%;
    border-bottom: 5px solid grey;
    padding-bottom: 8px;
}

#intro{
    padding-top: 20px;
    padding-bottom: 25px;
    border-bottom: 2px solid #E5E5E5;
    line-height: 1.5;
}

.heuristics{
/*    padding-top: 45px;*/
    padding-bottom: 45px;
    line-height: 1.5;
}

.screenshots{
    float: left;
    padding-right: 50px;
    padding-bottom: 5px;
}

.screenshots img{
    width: 300px;
    border: 5px solid #CCC;
}

/* ------ Footer ------ */

#footer{
    
    clear: both;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #DF6948;
    margin: 0 auto;
    color: white; 
    text-align: center;
    border-top: 10px solid grey;
}

#copyright{
    padding-top: 30px; 
}