/*!FROONT Project element styles */

body {
  background: rgba(0, 0, 0, 0)
}

h1 {
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h2 {
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h3 {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.3;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h5 {
  font-weight: 600;
  font-size: .6875rem;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h6 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

blockquote {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.7;
  letter-spacing: -0.03rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem
}

a {
  text-decoration: underline;
  color: inherit
}

a:hover {
  opacity: .8
}

.fr_caption_left_grey {
  font-family: europa;
  font-weight: 300;
  font-size: .85em;
  line-height: 1.3em;
  text-align: left;
  letter-spacing: .05em;
  color: #999
}

.fr_h4_black {
  font-family: europa;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .3em;
  color: white
}

.fr_navigation_link_2 {
  font-family: europa;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.35em;
  text-align: center;
  letter-spacing: .01em;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #333
}

.fr_paragraph_right_black {
  font-family: europa;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: right;
  letter-spacing: .01em;
  color: white
}

.fr_h1_right_black {
  font-family: europa;
  font-weight: 900;
  font-size: 3.55em;
  line-height: 1.0em;
  text-align: right;
  letter-spacing: 0;
  color: white
}

.fr_navigation_link_2 {
  font-family: europa;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.35;
  text-align: center;
  letter-spacing: .1em;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #60697f
}

.fr_paragraph_main_center_white {
  font-family: europa;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: .01em;
  color: white
}

.fr_h1_main_center_white {
  font-family: europa;
  font-weight: 900;
  font-size: 3.55em;
  line-height: 1.0em;
  text-align: center;
  letter-spacing: 0;
  color: white
}

.fr_h4_black {
  font-family: europa;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .3em;
  color: black
}

.fr_h2_main_center_grey {
  font-family: europa;
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .05em;
  color: #999
}

.fr_h1_main_center_black {
  font-family: europa;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .3;
  color: #292c31
}

.fr_paragraph_left_grey {
  font-family: europa;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: left;
  letter-spacing: .01em;
  color: #999
}

.fr_h2_left_black_bold {
  font-family: europa;
  font-weight: 900;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: left;
  letter-spacing: .05em;
  color: black
}

.fr_paragraph_left_black {
  font-family: europa;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: left;
  letter-spacing: .01em;
  color: black
}

.fr_h1_main_center_black-1 {
  font-family: europa;
  font-weight: 900;
  font-size: 3.55em;
  text-align: center;
  letter-spacing: 0;
  color: #292c31
}

.fr_paragraph_center_black {
  font-family: europa;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4;
  text-align: center;
  letter-spacing: .01em;
  color: white
}

.fr_questions {
  font-family: europa;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .3em;
  color: white
}

.fr_questions.fr-text p {
  color: white
}

.fr_caption_left_grey {
  font-family: europa;
  font-weight: 300;
  font-size: .85em;
  line-height: 1.3em;
  text-align: left;
  letter-spacing: .05em;
  color: #999
}

.fr_resume_subheader {
  font-family: europa;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
  color: #333
}

.fr_paragraph_center_grey {
  font-family: europa;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: .01em;
  color: white
}

.fr_h4_white {
  font-family: europa;
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.45em;
  text-align: center;
  letter-spacing: .3em;
  color: #eee
}

.fr_paragraph_left_400 {
  font-family: europa;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: left;
  letter-spacing: .01em;
  color: black
}

.fr_paragraph_left_400.fr-text p {
  font-weight: 300
}

.fr_gallery_3 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white
}

.fr_gry3_3_column_images {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry3_3_column_images.fr-grid>.fr-widget {
  float: left
}

.fr_gry3_3_column_images>.fr-widget:nth-child(3n+1) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.3333333333%;
  clear: left;
  max-width: inherit
}

.fr_gry3_3_column_images>.fr-widget:nth-child(3n+2) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.3333333333%;
  clear: none;
  max-width: inherit
}

.fr_gry3_3_column_images>.fr-widget:nth-child(3n+3) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.3333333333%;
  clear: none;
  max-width: inherit
}

.fr_gry3_image_three {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fr_gry3_image_title_three {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1em
}

.fr_gry3_img_three {
  float: none;
  display: block;
  width: 100%
}

.fr_gry3_image_two {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fr_gry3_image_title_two {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1em
}

.fr_gry3_img_two {
  float: none;
  display: block;
  width: 100%
}

.fr_gry3_image_one {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fr_gry3_image_title_one {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1em
}

.fr_gry3_img_one {
  float: none;
  display: block;
  width: 100%
}

.fr_gry3_main_title {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_navigation_white {
  display: block;
  width: 100%;
  background-color: white;
  z-index: 1000
}

.fr_items_2 {
  float: none;
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 10px;
  background-color: white;
  overflow: hidden
}

.fr_link_4 {
  float: right;
  display: inline-block
}

.fr_link_5 {
  float: right;
  display: inline-block
}

.fr_link_6 {
  float: right;
  display: inline-block
}

.fr_mobile_toggle_2 {
  display: none;
  width: 22px;
  margin-top: 20px;
  margin-bottom: 13px;
  margin-left: 20px;
  fill: #333
}

.fr_header_4 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: white;
  background-image: linear-gradient(rgba(241, 98, 94, 0.45), rgba(241, 98, 94, 0.45)), url(../images/thumbnail/manarola5.jpg_960x720.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  min-height: 12em
}

.fr_hd4_container {
  float: none;
  display: block;
  width: 90%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 2;
  min-height: 14.2568359375em;
  max-width: 1200px
}

.fr_hd4_subtext {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  max-width: 500px
}

.fr_hd4_main_title {
  float: none;
  display: block;
  width: 90%;
  margin-left: auto;
  max-width: 500px
}

.fr_navigation_white {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1000;
  min-height: 70px;
  max-height: 70px
}

.fr_items_2 {
  float: none;
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 10px;
  background-color: white;
  z-index: 9999;
  overflow: hidden
}

.fr_link_4 {
  display: inline-block
}

.fr_link_5 {
  display: inline-block
}

.fr_link_6 {
  display: inline-block
}

.fr_mobile_toggle_2 {
  display: none;
  width: 22px;
  margin-top: 20px;
  margin-bottom: 13px;
  margin-left: 20px;
  fill: #333
}

.fr_header_1 {
  float: none;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: 4.38rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/thumbnail/manarola_4.jpg_960x535.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  min-height: 30.88rem
}

.fr_hd1_paragraph {
  float: none;
  display: block;
  width: 60.16%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_hd1_main_title {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_gallery_3 {
  padding-top: 80px;
  padding-bottom: 0;
  background-color: white
}

.fr_gry3_main_title {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_content_9 {
  float: none;
  display: none;
  line-height: 1.45;
  vertical-align: top;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white
}

.fr_cnt09_paragraph {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_cnt09_tagline {
  float: none;
  display: block;
  width: 90%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_content_14 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #eee
}

.fr_c14_container {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #eee;
  max-width: 1200px
}

.fr_c14_2_column_grid {
  display: block;
  margin-top: 30px
}

.fr_c14_2_column_grid.fr-grid>.fr-widget {
  float: left
}

.fr_c14_2_column_grid>.fr-widget:nth-child(2n+1) {
  margin-top: .6em;
  margin-right: 7%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 56%;
  clear: left;
  max-width: inherit
}

.fr_c14_2_column_grid>.fr-widget:nth-child(2n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 7%;
  width: 30%;
  clear: none;
  max-width: inherit
}

.fr_c14_container_two {
  float: none;
  display: block
}

.fr_c14_title_two {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px
}

.fr_c14_text {
  float: none;
  display: block
}

.fr_c14_title {
  float: none;
  display: block;
  margin-top: 30px
}

.fr_c14_line {
  float: none;
  display: block;
  width: 70px;
  margin-bottom: 30px;
  background-color: #ff8a78;
  min-height: 5px
}

.fr_c14_about {
  float: none;
  display: block;
  margin-bottom: 20px
}

.fr_content_15 {
  float: none;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #eee
}

.fr_c14_container_2 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #eee;
  max-width: 1200px
}

.fr_c14_2_column_grid_2 {
  display: block;
  margin-top: 30px
}

.fr_c14_2_column_grid_2.fr-grid>.fr-widget {
  float: left
}

.fr_c14_2_column_grid_2>.fr-widget:nth-child(2n+1) {
  margin-top: .6em;
  margin-right: 7%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 56%;
  clear: left;
  max-width: inherit
}

.fr_c14_2_column_grid_2>.fr-widget:nth-child(2n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 7%;
  width: 30%;
  clear: none;
  max-width: inherit
}

.fr_c14_container_two_2 {
  float: none;
  display: block
}

.fr_text_25 {
  float: none;
  display: block;
  margin-top: 30px
}

.fr_c14_title_two_2 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px
}

.fr_c14_text_2 {
  float: none;
  display: block
}

.fr_c14_paragraph_one_2 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px
}

.fr_c14_line_2 {
  float: none;
  display: block;
  width: 70px;
  margin-bottom: 30px;
  background-color: #ff8a78;
  min-height: 5px
}

.fr_footer_2 {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #a15b6f
}

.fr_f2_button {
  float: none;
  display: block;
  width: 100%;
  font-family: europa;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  letter-spacing: .05em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: white;
  border: 1px solid white;
  min-height: 4rem;
  max-width: 224px;
  border-radius: 4px
}

.fr_f2_sub_text {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 960px
}

.fr_f2_main_title {
  float: none;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  min-height: 1.275em
}

.fr_gry3_3_column_images {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  max-width: 1200px
}

.fr_gry3_3_column_images.fr-grid>.fr-widget {
  float: left
}

.fr_gry3_3_column_images>.fr-widget:nth-child(3n+1) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.3333333333%;
  clear: left;
  max-width: inherit
}

.fr_gry3_3_column_images>.fr-widget:nth-child(3n+2) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.3333333333%;
  clear: none;
  max-width: inherit
}

.fr_gry3_3_column_images>.fr-widget:nth-child(3n+3) {
  margin-top: .6em;
  margin-right: 1%;
  margin-bottom: .6em;
  margin-left: 1%;
  width: 31.3333333333%;
  clear: none;
  max-width: inherit
}

.fr_gry3_image_three {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fr_gry3_img_three {
  float: none;
  display: block;
  width: 100%
}

.fr_gry3_image_title_three {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1em
}

.fr_gry3_image_two {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fr_gry3_img_two {
  float: none;
  display: block;
  width: 100%
}

.fr_gry3_image_title_two {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1em
}

.fr_gry3_image_one {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.fr_gry3_image_title_one {
  float: none;
  display: block;
  width: 100%;
  margin-top: 1em
}

.fr_gry3_img_one {
  float: none;
  display: block;
  width: 100%
}

.fr_text_block_center {
  display: block;
  width: 90%;
  text-align: left;
  max-width: 600px
}

.fr_header_center {
  float: none;
  display: block;
  margin-bottom: .2em;
  min-height: 1.35em
}

.fr_paragraph_center {
  display: block;
  width: 90%;
  min-height: 1.35em;
  max-width: 600px
}

.fr_c14_title_2 {
  float: none;
  display: block;
  margin-top: 30px
}

.fr_paragraph_center_2 {
  display: block;
  width: 90%;
  min-height: 1.35em;
  max-width: 600px
}

.fr_paragraph_center_3 {
  display: block;
  width: 90%;
  min-height: 1.35em;
  max-width: 600px
}

.fr_content_16 {
  float: none;
  display: block;
  padding-top: 40px;
  padding-bottom: 0;
  background-color: #eee
}

.fr_c14_container_3 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #eee;
  max-width: 1200px
}

.fr_c14_2_column_grid_3 {
  display: block;
  margin-top: 0;
  background-color: #eee
}

.fr_c14_2_column_grid_3.fr-grid>.fr-widget {
  float: left
}

.fr_c14_2_column_grid_3>.fr-widget:nth-child(2n+1) {
  margin-top: .6em;
  margin-right: 7%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 56%;
  clear: left;
  max-width: inherit
}

.fr_c14_2_column_grid_3>.fr-widget:nth-child(2n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 7%;
  width: 30%;
  clear: none;
  max-width: inherit
}

.fr_c14_container_two_3 {
  float: none;
  display: block
}

.fr_text_26 {
  float: none;
  display: block;
  margin-top: 30px
}

.fr_c14_title_two_3 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px
}

.fr_c14_text_3 {
  float: none;
  display: block
}

.fr_c14_paragraph_one_3 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px
}

.fr_c14_title_3 {
  float: none;
  display: block;
  margin-top: 30px
}

.fr_paragraph_center_4 {
  display: block;
  width: 90%;
  min-height: 1.35em;
  max-width: 600px
}

.fr_paragraph_center_5 {
  display: block;
  width: 90%;
  min-height: 1.35em;
  max-width: 600px
}

.fr_c14_line_two_2 {
  float: none;
  display: block;
  width: 70px;
  background-color: #ff8a78;
  min-height: 5px
}

.fr_c14_line_two {
  float: none;
  display: block;
  width: 70px;
  background-color: #ff8a78;
  min-height: 5px
}

.fr_content_17 {
  float: none;
  display: block;
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: #eee
}

.fr_c14_container_4 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #eee;
  max-width: 1200px
}

.fr_c14_2_column_grid_4 {
  display: block;
  margin-top: 0;
  background-color: #eee
}

.fr_c14_2_column_grid_4.fr-grid>.fr-widget {
  float: left
}

.fr_c14_2_column_grid_4>.fr-widget:nth-child(2n+1) {
  margin-top: .6em;
  margin-right: 7%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 56%;
  clear: left;
  max-width: inherit
}

.fr_c14_2_column_grid_4>.fr-widget:nth-child(2n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 7%;
  width: 30%;
  clear: none;
  max-width: inherit
}

.fr_c14_container_two_4 {
  float: none;
  display: block
}

.fr_text_27 {
  float: none;
  display: block;
  margin-top: 30px
}

.fr_paragraph_center_6 {
  display: block;
  width: 90%;
  min-height: 1.35em;
  max-width: 600px
}

.fr_c14_title_two_4 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px
}

.fr_c14_text_4 {
  float: none;
  display: block
}

.fr_c14_paragraph_one_4 {
  float: none;
  display: block;
  width: 100%;
  margin-top: 30px
}

.fr_paragraph_center_7 {
  display: block;
  width: 90%;
  min-height: 1.35em;
  max-width: 600px
}

.fr_c14_title_4 {
  float: none;
  display: block;
  margin-top: 30px
}

.fr_content_7 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #60697f
}

.fr_hd7_paragraph {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_hd7_name {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 600px
}

.fr_hd7_image {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/thumbnail/me.png_400x400.png);
  background-position: center center;
  background-size: cover;
  min-height: 250px;
  max-width: 250px;
  border-radius: 50%
}

.fr_paragraph_center_8 {
  display: block;
  width: 90%;
  padding-top: 20px;
  min-height: 1.35em;
  max-width: 600px
}

.fr_text_24 {
  float: none;
  display: block;
  margin-top: 30px
}

.fr_c14_paragraph_one {
  float: none;
  display: block;
  width: 100%;
  margin-top: 10px;
  z-index: 222
}

.fr_f2_button_2 {
  float: none;
  display: block;
  width: 100%;
  font-family: europa;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  letter-spacing: .05em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #60697f;
  border: 1px solid #60697f;
  min-height: 4rem;
  max-width: 224px;
  border-radius: 4px
}

.fr_mobile_toggle_2 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

.fr_mobile_toggle_2 .fr-svg-inner {
  padding-bottom: 100%;
  position: relative
}

@media screen and (max-width:1024px) {
  .fr_hd1_paragraph {
    margin-top: 20px
  }
  .fr_hd7_image {
    min-height: 250px;
    max-width: 250px
  }
}

@media screen and (max-width:768px) {
  .fr_navigation_link_2 {
    text-align: left
  }
  .fr_navigation_link_2 {
    text-align: right
  }
  .fr_gry3_3_column_images.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry3_3_column_images>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_navigation_white {
    padding-top: 0;
    padding-bottom: 7px
  }
  .fr_items_2 {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-height: 0;
    overflow: hidden
  }
  .fr_link_4 {
    display: block
  }
  .fr_link_5 {
    display: block
  }
  .fr_link_6 {
    display: block
  }
  .fr_mobile_toggle_2 {
    display: block
  }
  .fr_navigation_white {
    padding-top: 0;
    padding-bottom: 7px
  }
  .fr_items_2 {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-height: 0;
    overflow: hidden
  }
  .fr_link_4 {
    display: block
  }
  .fr_link_5 {
    display: block
  }
  .fr_link_6 {
    display: block
  }
  .fr_mobile_toggle_2 {
    float: right;
    display: block
  }
  .fr_hd1_paragraph {
    margin-top: 20px
  }
  .fr_c14_2_column_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_c14_2_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c14_2_column_grid_2.fr-grid>.fr-widget {
    float: left
  }
  .fr_c14_2_column_grid_2>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_gry3_3_column_images.fr-grid>.fr-widget {
    float: left
  }
  .fr_gry3_3_column_images>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c14_2_column_grid_3.fr-grid>.fr-widget {
    float: left
  }
  .fr_c14_2_column_grid_3>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c14_line_two_2 {
    margin-top: 30px
  }
  .fr_c14_line_two {
    margin-top: 30px
  }
  .fr_c14_2_column_grid_4.fr-grid>.fr-widget {
    float: left
  }
  .fr_c14_2_column_grid_4>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}

@media screen and (max-width:480px) {
  .fr_h4_black {
    font-size: 1.3em
  }
  .fr_h1_right_black {
    font-size: 1.7em
  }
  .fr_h1_main_center_white {
    font-size: 2.5em
  }
  .fr_h4_black {
    font-size: 1.3em
  }
  .fr_h2_main_center_grey {
    font-size: 1.1em
  }
  .fr_h1_main_center_black {
    font-size: 2.5em
  }
  .fr_h1_main_center_black-1 {
    font-size: 1.3em
  }
  .fr_questions {
    font-size: 1.3em
  }
  .fr_h4_white {
    font-size: 1.3em
  }
  .fr_header_4 {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_hd4_main_title {
    margin-top: 0
  }
  .fr_mobile_toggle_2 {
    float: right
  }
  .fr_header_1 {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_hd1_paragraph {
    margin-top: 20px
  }
  .fr_hd1_main_title {
    margin-top: 4rem
  }
  .fr_c14_2_column_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_c14_2_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c14_about {
    margin-top: 0
  }
  .fr_c14_2_column_grid_2.fr-grid>.fr-widget {
    float: left
  }
  .fr_c14_2_column_grid_2>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c14_2_column_grid_3.fr-grid>.fr-widget {
    float: left
  }
  .fr_c14_2_column_grid_3>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c14_2_column_grid_4.fr-grid>.fr-widget {
    float: left
  }
  .fr_c14_2_column_grid_4>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}

@media screen and (max-width:320px) {
  .fr_navigation_link_2 {
    font-size: .7rem
  }
  .fr_paragraph_main_center_white {
    font-size: 1.5rem
  }
  .fr_h1_main_center_white {
    font-size: 2rem
  }
  .fr_questions.fr-text p {
    color: white
  }
  .fr_paragraph_center_grey {
    font-size: 1.1rem
  }
  .fr_mobile_toggle_2 {
    float: right
  }
  .fr_navigation_white {
    float: none;
    display: block;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    right: 0
  }
  .fr_mobile_toggle_2 {
    float: right
  }
  .fr_header_1 {
    min-height: 28.63rem
  }
  .fr_hd1_paragraph {
    margin-top: 10px
  }
  .fr_hd1_main_title {
    margin-top: 4rem
  }
  .fr_c14_2_column_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_c14_2_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c14_2_column_grid_2.fr-grid>.fr-widget {
    float: left
  }
  .fr_c14_2_column_grid_2>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c14_2_column_grid_3.fr-grid>.fr-widget {
    float: left
  }
  .fr_c14_2_column_grid_3>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c14_2_column_grid_4.fr-grid>.fr-widget {
    float: left
  }
  .fr_c14_2_column_grid_4>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_hd7_image {
    min-height: 200px;
    max-width: 200px
  }
}